
/* ================ HEADER ==================*/
html{
	font-family: 'BariolRegular', sans-serif, helvetica;
}

body, ul, ol, p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

header{
	font-size: 16px;
	font-family: arial;
	background-color: #f56262;
}

nav a {
    text-decoration: none;
    color: white;
}

nav {
	max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
    padding: 5px 10px 15px;
}

nav img{
	margin-top: 20px;
}

nav ul{
	list-style: none;
	float: right;
	text-align: center;
	margin-top: 32px;
}
nav ul li{
	display: inline-block;
	margin-left: 21px;
	font-size: 16px;
	font-weight: bold;
	text-transform: capitalize;
	padding:9px 12px;
}

nav ul li:hover {
	background-color: black;
	border-radius: 5px;
	padding:9px 12px;
}

.infa{
	background-color: #eb4f4e;
	margin: 0 auto;
}

.wrapper {
	max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px 10px 15px;
}

.wrapper h1{
	text-align: center;
	color: white;
	padding: 20px 0 0 0;
}
h1 {
	font-size: 60px;
	letter-spacing: 10px;
}

.wrapper .review {
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 20px;
	color: white;
	text-align: center;
	letter-spacing: 1.5px;
	padding-right: 6px;

}
.slider{
	text-align: center;
	padding: 10px 5px 0 0 ;
}
.pros{
	background-color: #232324;
}

.experts_title {
	font-size: 40px;
	color: white;
	text-align: center;
	padding-top: 1px;
	padding-right: 3px;
	letter-spacing: 6.4px;
}
.wrapper .why {
	font-size: 20px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 20px;
	color: #d94948;
	text-align: center;
	letter-spacing: 1.2px;
}

.icons {
	background-color: #232324;
	padding-top: 10px;
}

.item {
	color: white;
	padding-top: 5px;
	
}

.pros .icons .item {
	float: left;
	width: 28%;
    margin: 0 2.66%;
    text-align: center;
}

.item .description{
	color: #d94948;
	font-size: 18px;
	letter-spacing: 0.9px;
}

.item .name{
	font-size: 30px;
	margin: 4px;
	letter-spacing: 0.9px;
}

.experts{
	background-color: #6cc372;
}

.wrapper .subtitle {
	text-align: center;
	letter-spacing: 1.2px;
	font-size: 20px;
	padding: 10px 5px 0 0;
}

.staf{
	background-color: white;
	float: left;
    width: 23%;
    margin: 0 1%;
    text-align: center;
    padding-bottom: inherit;
    height: 100%;
    border-radius: 5px;
}

.staf img {
	padding: 20px 0 20px 0;
}

.staf_name{
	color: #61af66;
	text-transform: capitalize;
	font-size: 25px;
	letter-spacing: 0.25px;
}
.position{
	font-size: 18px;
	color: #e74c3c;
	text-transform: capitalize;
	padding: 10px 0 23px 0;
	letter-spacing: 0.72px;

}

.follow {
	padding: 10px 40px;
    background-color: #61af66;
    border-radius: 2px;
}

.follow a{
	text-decoration: none;
	color: white;
	font-size: 25px;
	letter-spacing: 5px;
}
.infa_2 {
	background-color: #f0f0f0;

}

.wrapper h2 .works-title {
	color: #616161;
}


.wrapper .works {
	color: #61af66;
	padding-bottom: 20px;

}


.works_title {
	font-size: 40px;
	color: #616161;
	text-align: center;
	padding-top: 1px;
	padding-right: 3px;
	letter-spacing: 6.4px;
}
