@font-face {
	font-family: 'BariolRegular';
	src: url("../fonts/BariolRegular.eot");
	src: local('BariolRegular'), 
	url("../fonts/BariolRegular.woff") format('woff'),
	url("../fonts/BariolRegular.ttf") format('truetype');
}
